.liquid-glass {
    /* Liquid Glass */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Safari */
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: -5px;
    color: rgba(255, 255, 255, 0.9);
}

input[type="number"],
input::placeholder{
    color: white;
    opacity: 65%;
}

input[type="number"],
input[type="text"] {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 12px;
    
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"]:focus, 
input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #fff;
    color: #764ba2;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s active;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
}